In [2]:
pip install kafka-python

Defaulting to user installation because normal site-packages is not writeable
Collecting kafka-python
  Using cached kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [6]:
from kafka import KafkaProducer, KafkaConsumer

In [7]:
from time import sleep

In [8]:
from json import dumps

In [9]:
import json

In [10]:
producer=KafkaProducer(bootstrap_servers=['16.171.111.238:9092'],
                       value_serializer=lambda x: dumps(x).encode('utf-8'))

In [17]:
producer.send('demotopic5',value="{'hello world program':'from jupyter notebook'}")

In [16]:
producer.send('demotopic5',value="{'writing from jupyter producder':'reading from jupyter consumer'}")

In [13]:
df=pd.read_csv(r'C:\Users\Futurense\Downloads\kafka\indexProcessed.csv')
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [14]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
92125,SSMI,2005-11-29,7419.600098,7471.0,7409.600098,7440.700195,7440.700195,46744600.0,8259.177216

In [21]:
while True:
    dict_for=df.sample(1).to_dict(orient='records')[0]
    producer.send('demotopic5',value=dict_for)
    sleep(2)

KeyboardInterrupt:

In [19]:
producer.flush()